.footer {
  max-width: 880px;
  padding-bottom: 15px;
  margin-top: 158px;
  position: fixed;
  left: 17px;
  bottom: 0;
}

@media screen and (max-width: 846px){
  .footer  {
    
    max-width: 282px;
    
  }
}
@media screen and (max-width: 376px) {
  .footer {
    
    
  }
}
